<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Hacktoberfest Repository Checker">
    <meta name="description"
        content="A website to check if a repository or a pull request is eligible for hacktoberfest or not">
    <meta name="keywords" content="hacktoberfest, hf, hfchecker, repositorychecker, checker, opensource">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hfchecker.com">
    <meta property="og:title" content="Hacktoberfest Repository Checker">
    <meta property="og:description"
        content="A website to check if a repository or a pull request is eligible for hacktoberfest or not">
    <meta property="og:image"
        content="https://user-images.githubusercontent.com/55191873/133085921-ddfbdb3c-97ef-4681-b9c7-0f65a97b5151.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="hfchecker.com">
    <meta property="twitter:title" content="Hacktoberfest Repository Checker">
    <meta property="twitter:description"
        content="A website to check if a repository or a pull request is eligible for hacktoberfest or not">
    <meta property="twitter:image"
        content="https://user-images.githubusercontent.com/55191873/133085921-ddfbdb3c-97ef-4681-b9c7-0f65a97b5151.png">
    <title>Hacktoberfest Repository Checker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="/css/dark-mode.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/loaders-animation.css" type="text/css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#f74700" />
    <meta name="title" content="Hacktoberfest Repository Checker" />
    <meta name="description"
        content="This website can be used to check if your repository is eligible for Hacktoberfest 2021" />
    <meta name="keywords" content="Hacktoberfest, Hacktoberfest 2021, Digital Ocean" />
    <meta name="language" content="English" />
    <meta name="author" content="Manan Chawla" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
</head>

<body class="bg-light" style="overflow: auto; min-height: 100%;">
    <!-- Preloader -->
    <!-- <div class="
        preloader
        position-fixed
        top-0
        end-0
        start-0
        bottom-0
        bg-light
        d-flex
        align-items-center
        justify-content-center
        d-block
    ">
        <img src="/svg/logo.svg" class="preloader-logo" alt="preloader" />
    </div> -->
    <%- include('navbar.ejs') -%>

        <!-- Banner -->
        <section id="banner" class="repo-content h-100 pt-5 border-0 bg-light">
            <h2 class="text-center pb-5">Hacktoberfest Repositories to Contribute to: </h2>

            <div class="row px-5 py-5">
                <div class="container-fluid">
                    <div class="col-md-6 p-3">
                        <div class="card text-center" style="height: 300px;">
                            <div class="card-body">
                                <h3 class="card-title" style="color: #212529;">GITHUB</h3>
                                <svg xmlns="http://www.w3.org/2000/svg" width="170" height="170" fill="currentColor"
                                    class="bi bi-github" viewBox="0 0 16 16">
                                    <path
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </div>
                            <button type="button" class="btn btn-view" data-bs-toggle="modal"
                                data-bs-target="#githubModal">
                                View Repos
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 p-3">
                        <div class="card text-center" style="height: 300px;">
                            <div class="card-body">
                                <h3 class="card-title" style="color: #212529;">GITLAB</h3>
                                <svg xmlns="http://www.w3.org/2000/svg" width="170" height="170" fill="currentColor"
                                    class="bi bi-gitlab" viewBox="0 0 16 16">
                                    <path
                                        d="m15.734 6.1-.022-.058L13.534.358a.568.568 0 0 0-.563-.356.583.583 0 0 0-.328.122.582.582 0 0 0-.193.294l-1.47 4.499H5.025l-1.47-4.5A.572.572 0 0 0 2.47.358L.289 6.04l-.022.057A4.044 4.044 0 0 0 1.61 10.77l.007.006.02.014 3.318 2.485 1.64 1.242 1 .755a.673.673 0 0 0 .814 0l1-.755 1.64-1.242 3.338-2.5.009-.007a4.046 4.046 0 0 0 1.34-4.668Z" />
                                </svg>
                            </div>
                            <button type="button" class="btn btn-view" data-bs-toggle="modal"
                                data-bs-target="#gitlabModal">
                                View Repos
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- GITHUB MODAL -->
            <div class="modal fade" id="githubModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="githubModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="exampleModalLabel">Hacktoberfest Github Repos: </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <% githubRepos.forEach((repo, i)=> { %>
                                    <!-- Start Of Card  -->
                                    <div class="col-md-4">
                                        <div class="card mb-3" style="height: 250px;">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="<%= repo.html_url %>" target="_blank" style="color: #212529;">
                                                        <%= repo.full_name %>
                                                    </a>
                                                </h5>
                                                <p class="card-text star-count"><i class="bi bi-star-fill"></i>
                                                    <%= repo.stargazers_count %> stars
                                                </p>
                                                <p class="card-text user"><i class="bi bi-person-fill"></i>
                                                    <%= repo.owner.login %>
                                                </p>
                                                <button>
                                                    <%= repo.language %>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <!-- End of Card  -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- GITLAB MODAL -->
            <div class="modal fade" id="gitlabModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gitlabModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="exampleModalLabel">Hacktoberfest Gitlabb Repos: </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <% gitlabRepos.forEach((repo, i)=> { %>
                                    <!-- Start Of Card  -->
                                    <div class="col-md-4">
                                        <div class="card mb-3" style="height: 250px;">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="<%= repo.web_url %>" target="_blank" style="color: #212529;">
                                                        <%= repo.name %>
                                                    </a>
                                                </h5>
                                                <p class="card-text star-count">
                                                    <i class="bi bi-star-fill"></i>
                                                    <%= repo.star_count %> stars
                                                </p>
                                                <p class="card-text user">
                                                    <i class="bi bi-person-fill"></i>
                                                    <%= repo.namespace.name %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <!-- End of Card  -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="theme-toggler-container">
                <button class="theme-toggler-button theme-light-orange shadow-lg">
                    <i class="bi bi-moon-fill theme-toggler-icon"></i>
                </button>
            </div>

            <div class="bottom-0 end-0 start-0">
                <p class="text-center copyright copyright-light">
                    This Website is made under Hacktoberfest 2022. Logo Copyright is
                    reserved by <strong>Digital Ocean</strong>.
                </p>
            </div>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="/js/repos.js" type="text/javascript" defer></script>
</body>

</html>